<a href="https://colab.research.google.com/github/InsightfulSantosh/BackgroundRemoval/blob/main/If_Else_and_loops_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
#write your code
ctc = int(input('Enter your anual CTC:'))

if ctc < 5000000:
    salary=ctc*.82
elif ctc<1000000:
    salary=ctc*.72
elif ctc<2000000:
    salary=ctc*.62
else:
    salary=ctc*.52

print("You in hand monthly salary will be-", round(salary/12,2))

Enter your anual CTC:55667
You in hand monthly salary will be- 3803.91

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here
first = int(input('enter the 1st angle'))
second = int(input('enter the 2nd angle'))
third = int(input('enter the 3rd angle'))

if (first+second+third) == 180 and first>0 and second>0 and third>0:
  print('forms a triangle')
else:
  print('does not form a triangle')

enter the 1st angle57
enter the 2nd angle56
enter the 3rd angle78
does not form a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# write your code here
cost_price = int(input('Enter cost price-'))
selling_price = int(input('Enter selling price-'))

if cost_price < selling_price:
    print('Profit')
elif cost_price > selling_price:
    print('Loss')
else:
    print('No Loss No Gain')

Enter cost price-4566
Enter selling price-5644
Profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here
menu = input("""
Hi select an option
1. cms to ft
2. km to miles
3. USD to INR
4. Exit
""")

if menu == '1':
  cm = float(input('enter the cm value'))
  print('ft value is',0.032*cm)
elif menu == '2':
  km = float(input('enter the km value'))
  print('miles value is',km*0.62)
elif menu == '3':
  usd = float(input('enter usd'))
  print('inr',usd*80)
else:
  exit()

Hi select an option
1. cms to ft
2. km to miles
3. USD to INR
4. Exit
cms to ft

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
n=10
a,b=0,1
for i in range (0,n+1):
  print(a)
  next= a+b
  a=b
  b=next

0
1
1
2
3
5
8
13
21
34
55

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
num=5
fact = 1
for i in range(1,num+1):
  fact = fact*i

print(fact)

120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here
n=76542

int("".join(reversed(str(n))))

24567

In [ ]:
n=76542
rev=0
while(n>0):
  a=n%10
  rev=rev*10+a
  n=n//10
print(rev)

24567

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here
N=30
sum = 0
i = 1

while i < N+1:
  if i % 5 == 0:
    i+=1
    continue

  sum += i

  if sum > 300:
    sum = sum - i
    break

  i+=1

print(sum)

276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here

count=0
sum=0
while True:
  n= int(input("enter"))
  if n==0:
    break
  count=count+1
  sum+=n
  avg= sum/(count)


print(sum)
print(avg)

enter55
enter553
enter0
608
304.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here
lst_n=[]
for i in range( 2000,3200+1):
  if (i%7==0) and i%5!=0:
    lst_n.append(i)

print(lst_n)

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here
L = []
for i in range(1000,3001):
  flag = True

  curr = i

  while curr > 0:
    last = curr%10
    if last % 2 != 0:
      flag = False
      break
    curr = curr//10

  if flag == True:
    L.append(str(i))

print(",".join(L))

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here
origin=[0,0]
while True:
  p=input("enter the position")
  if p== "!":
    break
  direction=p.split()[0].lower()
  step=int(p.split()[1])

  if direction=="up":
    origin[1]=origin[1]+step

  elif direction=="down":
    origin[1]=origin[1]+step

  elif direction=="left":
    origin[0]=origin[0]+step

  elif direction=="right":
    origin[0]=origin[0]+step
  else:
    pass


  print('new pos',origin)
  print((origin[0]**2 + origin[1]**2)**0.5)

enter the positionup 14
new pos [0, 14]
14.0
enter the positionleft 5
new pos [5, 14]
14.866068747318506
enter the position!

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here
n=9
flag=True
for i in range(2,n):
  if n%i==0:
    flag=False
    break
  else:
    flag=True
print(flag)

False

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
start = 0
end = 500

for num in range(start, end + 1):
    temp = num
    sum_of_cubes = 0
    while temp > 0:
        digit = temp % 10
        sum_of_cubes += digit ** 3
        temp=temp// 10
    if num == sum_of_cubes:
        print(num)

0
1
153
370
371
407



###Walkthrough

Let's consider `num = 153`:
1. **First Iteration**:
    - `temp = 153`
    - `digit = 153 % 10` -> `digit = 3`
    - `sum_of_cubes += 3 ** 3` -> `sum_of_cubes = 27`
    - `temp //= 10` -> `temp = 15`

2. **Second Iteration**:
    - `temp = 15`
    - `digit = 15 % 10` -> `digit = 5`
    - `sum_of_cubes += 5 ** 3` -> `sum_of_cubes = 152`
    - `temp //= 10` -> `temp = 1`

3. **Third Iteration**:
    - `temp = 1`
    - `digit = 1 % 10` -> `digit = 1`
    - `sum_of_cubes += 1 ** 3` -> `sum_of_cubes = 153`
    - `temp //= 10` -> `temp = 0`

After all iterations, `temp` is 0, and `sum_of_cubes` is 153, which matches the original number `num`.

This process ensures that every digit of the number is processed correctly to determine if it's an Armstrong number.

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

h= 12
m=15

if (h < 0 or m < 0 or h > 12 or m > 60):
    print('Wrong input')
# 1 minute in minute angle manke 6 degree. (60 minute -> 360 degree)
m_angle = m*6
h_angle=h*30 + m*0.5
total_angle = abs(h_angle - m_angle)

if total_angle>180:
    print(360-total_angle)
else:
    print(total_angle)

82.5

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
77# Write code here
print("Enter both Rectangel points coordinates <x y>")

l1_x, l1_y = list(map(int, input('Enter L1 coordinate value  (Two value space seperated):').split()))
r1_x, r1_y = list(map(int, input('Enter r1 coordinate value,(Two value space seperated):').split()))

l2_x, l2_y = list(map(int, input('Enter L2 coordinate value,(Two value space seperated):').split()))
r2_x, r2_y = list(map(int, input('Enter r2 coordinate value,(Two value space seperated):').split()))

# if rectangle has area 0, no overlap
if l1_x == r1_x or l1_y == r1_y or r2_x == l2_x or l2_y == r2_y:
  print("Don't Overlap")

# If one rectangle is on left side of other
elif l1_x > r2_x or l2_x > r1_x:
  print("Don't Overlap")

# If one rectangle is above other
elif r1_y > l2_y or r2_y > l1_y:
  print("Don't Overlap")
else:
  print("Overlap")

`Explaination:` The given code takes the coordinates of two rectangles from the user and checks if they overlap.
* It does this by first checking if either rectangle has an area of 0 (i.e. one of the sides has length 0), in which case it prints "Don't Overlap".
* It then checks if one rectangle is entirely to the left or above the other, in which case it also prints "Don't Overlap". If none of these conditions are true, it prints "Overlap".

### `Problem 16:` Write a Python program to count the number of characters (character frequency) in a string.

In [ ]:
s= "google.com"
word_count={}
for i in (s):
  s.count(i)
  word_count[i]=s.count(i)
word_count

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

### `problem 17:` In a maths competition, the Armstrong award would be presented to the one who would first tell the Armstrong number among all given numbers. Thus, write a program for Sam in Python to help him won the award.

In [ ]:
n=155


temp= n
sum=0
while temp>0:
    digit= temp%10
    sum=sum+ digit**3
    temp= temp//10

if n==sum:
  print(True)
else:
  print(False)

false

### `Problem 18:` Write a Python program to calculate the harmonic sum of n-1.

Note: The harmonic sum is the sum of reciprocals of the positive integers.

In [ ]:
def harmonic_sum(n):
  if n < 2:
    return 1
  else:
    return 1 / n + (harmonic_sum(n - 1))

n=int(input())
print(harmonic_sum(n))

7
2.5928571428571425

### `Problem:`In a competition, participants were given a number to sum its digits until it was a single-digit number. So, write a Python program to add the digits of a positive integer repeatedly until the result has a single digit.

In [ ]:
n=7548
temp=n
sum=0
while temp>0:
  digit= temp%10
  sum=sum+digit
  temp=temp//10

new_n=sum
new_sum=0
while new_n>0:
  digit= new_n%10
  new_sum=new_sum+digit
  new_n=new_n//10

print("1st sum", sum)
print("last sum", new_sum)

1st sum 24
last sum 6

### `Problem:`In a test, students are supposed to write all the words in a passage whose length is a prime number. So, write a Python program to find all such words in a sentence/passage.

In [ ]:
s = "The quick brown fox jumps over the lazy dog."
lst = s.split()

word_length = []
sentence = []

# Collect the lengths of words starting from index 2
for i in range( len(lst)):
    word_length.append(len(lst[i]))

# Check if each word length is a prime number and append corresponding word to sentence
for i in range(len(word_length)):
    j = word_length[i]
    flag = True
    for k in range(2, int(j//2) + 1):
      if j % k == 0:
        flag = False
        break
    if flag:

        sentence.append(lst[i ])  # Adjust index to match the original list
    else:
        pass

print(sentence)

['The', 'quick', 'brown', 'fox', 'jumps', 'the']

### `Problem:` Write a Python program to find all integers between 1 to n that are the product of exactly three primes. Print the integer as list of its three prime factors.

In [ ]:
n=50
ps = [p for p in range(2,n) if all(p % sat != 0 for sat in range(2, p))]
ps

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
a = 1
b = 100
prime_list = []

for i in range(2, b + 1):
    is_prime = True
    for j in range(2, i // 2 + 1):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        prime_list.append(i)
lst=[]
print(prime_list)
for p in prime_list:
    for q in prime_list:
        for r in prime_list:
            if p*q*r<=b:
                lst.append([p,q,r])

print(lst)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[[2, 2, 2], [2, 2, 3], [2, 2, 5], [2, 2, 7], [2, 2, 11], [2, 2, 13], [2, 2, 17], [2, 2, 19], [2, 2, 23], [2, 3, 2], [2, 3, 3], [2, 3, 5], [2, 3, 7], [2, 3, 11], [2, 3, 13], [2, 5, 2], [2, 5, 3], [2, 5, 5], [2, 5, 7], [2, 7, 2], [2, 7, 3], [2, 7, 5], [2, 7, 7], [2, 11, 2], [2, 11, 3], [2, 13, 2], [2, 13, 3], [2, 17, 2], [2, 19, 2], [2, 23, 2], [3, 2, 2], [3, 2, 3], [3, 2, 5], [3, 2, 7], [3, 2, 11], [3, 2, 13], [3, 3, 2], [3, 3, 3], [3, 3, 5], [3, 3, 7], [3, 3, 11], [3, 5, 2], [3, 5, 3], [3, 5, 5], [3, 7, 2], [3, 7, 3], [3, 11, 2], [3, 11, 3], [3, 13, 2], [5, 2, 2], [5, 2, 3], [5, 2, 5], [5, 2, 7], [5, 3, 2], [5, 3, 3], [5, 3, 5], [5, 5, 2], [5, 5, 3], [5, 7, 2], [7, 2, 2], [7, 2, 3], [7, 2, 5], [7, 2, 7], [7, 3, 2], [7, 3, 3], [7, 5, 2], [7, 7, 2], [11, 2, 2], [11, 2, 3], [11, 3, 2], [11, 3, 3], [13, 2, 2], [13, 2, 3], [13, 3, 2], [17, 2, 2], [19, 2, 2], [23, 2, 2]]

### `problem:` Write a Python program to find the  palindrome from a given range.

In [ ]:
a=100
b=200

for i in range (a,b+1):
    temp=i
    rev=0
    while temp>0:
        digit= temp%10
        rev= rev*10 +digit
        temp=temp//10
        if rev==i:
            print(rev)

101
111
121
131
141
151
161
171
181
191

### 'Problem:' Write a Python program to find the closest palindrome from a given string.

In [ ]:

def find_closest_palindrome(s):
    # Check how many characters differ from their corresponding mirrored characters
    odd = sum(1 for i in range(len(s)) if s[i] != s[-i-1])

    if odd % 2 == 1:
        # When the number of differing characters is odd
        half = odd // 2
        # Create the palindrome by taking characters from the start for the first half
        # and mirrored characters for the second half
        palindrome = "".join(s[i] if i < half else s[-i-1] for i in range(len(s)))
    else:
        # When the number of differing characters is even
        half = odd // 2
        # Create the palindrome by taking characters from the start for the first half
        # and mirrored characters for the second half
        palindrome = "".join(s[i] if i <= half else s[-i-1] for i in range(len(s)))

    return palindrome


s = input("Enter a string: ")
closest_palindrome = find_closest_palindrome(s)
print("The closest palindrome is:", closest_palindrome)

Enter a string: cat
The closest palindrome is: cac

### 'Problem:` Write a Python program to find the indices of the closest pair from a list of numbers.

In [ ]:
lst = [1, 7, 9, 2, 10]

# Initialize variables to keep track of the minimum difference and the corresponding indices
min_diff = float('inf')  # Start with a very large number
closest_pair = (None, None)  # To store the indices of the closest pair

# Iterate through each pair of elements
for i, value1 in enumerate(lst):
    for j, value2 in enumerate(lst):
        if i != j:
            # Calculate the absolute difference in values
            current_diff = abs(value1 - value2)
            # Update if the current difference is smaller than the previously found minimum difference
            if current_diff < min_diff:
                min_diff = current_diff
                closest_pair = (i, j)

# Print results
print("Indices of the closest pair:", closest_pair)
print("Values of the closest pair:", (lst[closest_pair[0]], lst[closest_pair[1]]))
print("Difference in values:", min_diff)

Indices of the closest pair: (0, 3)
Values of the closest pair: (1, 2)
Difference in values: 1

### `Problem:` Write a Python program to find the following strange sort of list of numbers: the first element is the smallest, the second is the largest of the remaining, the third is the smallest of the remaining, the fourth is the smallest of the remaining, etc.

In [ ]:
def test(nums):
    if len(nums) < 2:
        return nums
    result = []
    for i in range(len(nums)//2):
        result.append(min(nums))
        nums.remove(min(nums))
        result.append(max(nums))
        nums.remove(max(nums))
    if len(nums) > 0:
        result.append(nums[0])
    if len(result) < 2*len(nums):
        result.extend(nums[len(result) // 2 + 1:len(result) // 2 + 1 + len(nums) - len(result)])
    return result
nums = [1, 3, 4, 5, 11]
print(test(nums))

[1, 11, 3, 5, 4]

### `Problem:` Given a string consisting of groups of matched nested parentheses separated by parentheses, write a Python program to compute the depth of each group.

In [ ]:
pr='(()) (()) () ((()()()))'
depth=[]
for i in pr.split(" "):
    depth.append(len(i.split(')')[0]))
print(depth)

[2, 2, 1, 3]

In [ ]:
# Number of rows
rows = 4

# Number of columns
columns = 4

# Iterate through each row
for i in range(rows):
    # Iterate through each column
    for j in range(columns):
        # Print '*' at specific positions
        if (i == 0 and (j == 0 or j == 3)) or \
           (i == 1 and (j == 1 or j == 2)) or \
           (i == 2 and (j == 1 or j == 2)) or \
           (i == 3 and (j == 0 or j == 3)):
            print('*', end='')
        else:
            print(' ', end=' ')
    # Move to the next line after each row
    print()

*    *
  **
  **
*    *


```
    *
   ***
  *****
 *******
*********
```

In [ ]:
rows = 5
col = 9

for i in range(rows):
    for j in range(col):
        if (i == 0 and j == 4) or \
           (i == 1 and j in (3, 4, 5)) or \
           (i == 2 and j in (2, 3, 4, 5, 6)) or \
           (i == 3 and j in (1, 2, 3, 4, 5, 6, 7)) or \
           (i == 4 and j in (0, 1, 2, 3, 4, 5, 6, 7, 8)):
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
def create_palindrome_name(parent1, parent2):
    # Convert names to lower case to ensure uniformity
    parent1 = parent1.lower()
    parent2 = parent2.lower()

    # Find the half-length of the shorter parent name
    min_len = min(len(parent1), len(parent2))
    half_len = min_len // 2

    # Create the palindrome by taking half of parent1's name
    # and reversing it, then combining with the corresponding part of parent2's name
    part1 = parent1[:half_len]
    part2 = parent2[:half_len][::-1]

    # Construct the palindrome name
    palindrome_name = part1 + part2 + part1[::-1]

    return palindrome_name.capitalize()

# Example usage
parent1 = input("Enter the first name of parent 1: ")
parent2 = input("Enter the first name of parent 2: ")

child_name = create_palindrome_name(parent1, parent2)
print("The child's palindrome name is:", child_name)

Enter the first name of parent 1: santosh
Enter the first name of parent 2: uma
The child's palindrome name is: Sus

In [ ]:
def count_substring(string, sub_string):
    count = 0
    sub_len = len(sub_string)

    # Loop through the string and check for the substring at each position
    for i in range(len(string) - sub_len + 1):
        if string[i:i + sub_len] == sub_string:
            count += 1

    return count

# Test the function
print(count_substring('ABCDCDC', 'CDCDC'))

1

###Write a program to check the string is palindrome

In [ ]:
string = "A man, a plan, a canal, Panama!"
l = ''.join(filter(str.isalnum, string)).lower()

is_palindrome = True  # Initialize the variable to True
for i in range(len(l) // 2):
    if l[i] != l[-(i + 1)]:
        is_palindrome = False
        break

print(is_palindrome)  # Output: True

True

### **Problem:** Given an array of size n-1 such that it only contains distinct integers in the range of 1 to n. Return the missing element.

In [ ]:
arr=[1,2,3,4,5,6,7,9,10]
n=10
total_sum= n * (n+1)//2
missing_element= total_sum - sum(arr)
missing_element

8

### **Problem:** Given an array arr of size n which contains elements in range from 0 to n-1, you need to find all the elements occurring more than once in the given array. Return the answer in ascending order. If no such element is found, return list containing [-1].

Note: Try and perform all operations within the provided array. The extra (non-constant) ) space needs to be used only for the array to be returned.

In [ ]:
def find_duplicates(arr, n):
    # Dictionary to store the count of each element
    count_dict = {}

    # Traverse the array to count occurrences
    for num in arr:
        if num in count_dict:
            count_dict[num] += 1
        else:
            count_dict[num] = 1

    # Collect the elements that occur more than once
    result = [key for key, value in count_dict.items() if value > 1]

    # Return the result in ascending order or [-1] if no duplicates
    if not result:
        return [-1]

    return sorted(result)

# Example usage:
arr1 = [0, 3, 1, 2]  # Example array
n1 = 4  # Size of the array
print(find_duplicates(arr1, n1))  # Output: [-1]

arr2 = [2, 3, 1, 2, 3]  # Example array
n2 = 5  # Size of the array
print(find_duplicates(arr2, n2))  # Output: [2, 3]

[-1]
[2, 3]

### **Problem** Given an array arr of n positive integers, your task is to find all the leaders in the array. An element of the array is considered a leader if it is greater than all the elements on its right side or if it is equal to the maximum element on its right side. The rightmost element is always a leader.

In [ ]:
class Solution:
    # Function to find the leaders in the array.
    def leaders(self, arr, n):
        leader = []
        right_most = arr[-1]
        leader.append(right_most)

        # Traverse the array from right to left
        for i in range(n-2, -1, -1):
            if arr[i] >= right_most:
                right_most = arr[i]
                leader.append(arr[i])

        # Reverse the leader list to get the correct order
        leader.reverse()

        return leader

# Example usage:
if __name__ == "__main__":
    solution = Solution()

    arr1 = [16, 17, 4, 3, 5, 2]  # Example array
    n1 = len(arr1)  # Size of the array
    print(*solution.leaders(arr1, n1))  # Output: 17 5 2

    arr2 = [10, 4, 2, 4, 1]  # Example array
    n2 = len(arr2)  # Size of the array
    print(*solution.leaders(arr2, n2))  # Output: 10 4 4 1

17 5 2
10 4 4 1

### **Problem:** Given an array arr, return the second largest distinct element from an array. If the second largest element doesn't exist then return -1.

In [ ]:
class Solution:
    # Method to find the second largest element in an array
    def find_second_largest(self, arr):
        # Initialize largest and second largest to negative infinity
        largest = -float("inf")
        second_largest = -float("inf")

        # Traverse the array
        for i in arr:
            if i > largest:
                # Update second largest before updating largest
                second_largest = largest
                largest = i
            elif i > second_largest and i != largest:
                second_largest = i

        # Return the second largest element, or a message if it doesn't exist
        if second_largest == -float("inf"):
            return "No second largest element"
        else:
            return second_largest

# Example usage
if __name__ == "__main__":
    solution = Solution()

    arr = [12, 1, 35, 10, 38, 1]
    print("Second largest:", solution.find_second_largest(arr))

Second largest: 35

### **Problem:** Given an array arr of non-negative numbers. The task is to find the first equilibrium point in an array. The equilibrium point in an array is an index (or position) such that the sum of all elements before that index is the same as the sum of elements after it.

Note: Return equilibrium point in 1-based indexing. Return -1 if no such point exists.

In [ ]:
class Solution:
    # Function to find the first equilibrium point in the array
    def find_equilibrium(self, arr):
        total_sum = sum(arr)  # Compute the total sum of the array
        left_sum = 0  # Initialize the left sum

        # Traverse the array to find the equilibrium point
        for i in range(len(arr)):
            # Calculate right sum
            right_sum = total_sum - left_sum - arr[i]

            # Check if left sum equals right sum
            if left_sum == right_sum:
                return i + 1  # Return 1-based index

            # Update left sum for the next index
            left_sum += arr[i]

        return -1  # Return -1 if no equilibrium point is found

# Example usage
if __name__ == "__main__":
    solution = Solution()

    arr = [1, 3, 5, 2, 2]
    result = solution.find_equilibrium(arr)
    print(result)  # Output will be 3, as index 2 (1-based) is the equilibrium point

3

### Write a Python program to find the indices of the closest pair from a list of numbers.

In [ ]:
def find_closest_pair_indices(nums):
    if len(nums) < 2:
        raise ValueError("List must contain at least two elements")

    # Create a list of tuples (value, index) and sort it by value
    sorted_nums = sorted((num, index) for index, num in enumerate(nums))

    min_diff = float('inf')
    closest_pair_indices = (-1, -1)

    # Check the difference between consecutive elements in the sorted list
    for i in range(len(sorted_nums) - 1):
        diff = abs(sorted_nums[i][0] - sorted_nums[i + 1][0])
        if diff < min_diff:
            min_diff = diff
            closest_pair_indices = (sorted_nums[i][1], sorted_nums[i + 1][1])

    return closest_pair_indices

# Example usage
nums = [1, 7, 9, 2, 10]
indices = find_closest_pair_indices(nums)
print(f"The indices of the closest pair are: {indices}")

The indices of the closest pair are: (0, 3)

In [ ]:
tupl=[]
arr=[1, 7, 9, 2, 10]
for i,j in enumerate(arr):
  tupl.append((j,i))
srt=sorted(tupl)

min_diff= float("inf")
index1,index2=-1,-1
for num in range(len(srt)-1):
  diff=abs(srt[num][0]- srt[num+1][0])
  if diff< min_diff:
    min_diff= diff
    index1,index2= srt[num][1],srt[num+1][1]

print(index1,index2)

0 3

###Write a Python program to find the following strange sort of list of numbers: the first element is the smallest, the second is the largest of the remaining, the third is the smallest of the remaining, the fourth is the smallest of the remaining, etc.

In [ ]:
arr=[2, 3, 4, 5, 11]
lst=[]
while arr:
  smallest= float("inf")
  largest= -float("inf")

  for i in arr:
    if i< smallest:
      smallest=i
    if i>largest:
      largest=i

  lst.append(smallest)
  arr.remove(smallest)
  if smallest != largest:
        lst.append(largest)
        arr.remove(largest)


print(lst,arr)

[2, 11, 3, 5, 4] []

###Write a Python program to decode a message for security officials by removing the characters which have odd index values of a given string.

In [ ]:
s="data science"

for i in range(0,len(s)):
  if i%2==0:
    print( s[i], end=" ")

d t   c e c

###Help Sunny to bulid a digital calendar by writing a Python program to convert month name to a number of days.

In [ ]:

month_name = input().title()

if month_name == "February":
        print("No. of days: 28/29 days")
elif month_name in ("April", "June", "September", "November"):
        print("No. of days: 30 days")
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
        print("No. of days: 31 days")
else:
        print("Wrong month name")

SEPTEMBER
No. of days: 30 days

###Write a Python program to help Mark to complete his homework wherein he has to find the area of circle with given radius and round off to 4 decimal places.

- Area of a Circle
:In geometry, the area enclosed by a circle of radius r is πr2. Here the Greek letter π represents a constant, approximately equal to 3.14159, which is equal to the ratio of the circumference of any circle to its diameter.

In [ ]:
def AreaCircle(radius):
  area= 3.14159 * (radius**2)
  return round(area,4)
AreaCircle(1.1)

3.8013

###In a job interview, Mihir was asked to find count of all contiguous substrings starting and ending with same character, for a given string S. After an interview, he wrote the recursive python program to check the answer.

In [ ]:
s = "abcab"

for i in range(len(s)):
    for j in range(i + 1, len(s) + 1):
      if s[i:j][0]==s[i:j][-1]:
        print(s[i:j])

a
abca
b
bcab
c
a
b

###Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result.

In [ ]:
# Define the lambda function
add_15 = lambda x: x + 15

# Use the lambda function with the value of n
n = 15
result = add_15(n)

print(result)  # Output will be 30

30

In [ ]:
multiply= lambda x,y: x*y
n1=12
n2=4
multiply(n1,n2)

48

###Write a Python program to find the string consisting of all the words whose lengths are prime numbers.

In [ ]:
s="The quick brown fox jumps over the lazy dog."
lst=s.split(" ")

for i in lst:
  prime=True
  for j in range(2,len(i)):
    if len(i)%j==0:
      prime=False
      break

  if prime:
    print(i,end=" ")

The quick brown fox jumps the

In [ ]:

for i in range(2, 10):
    prime = True
    for j in range(2, i):
        if i % j == 0:
            prime = False
            break
    if prime:
        print(i)

2
3
5
7

###In a maths competition, the Armstrong award would be presented to the one who would first tell the Armstrong number among all given numbers. Thus, write a program for Sam in Python to help him won the award.

####What is Armstrong Number?

- It is a number which is equal to the sum of cube of its digits. For eg: 153, 370 etc.

In [ ]:
n=153
temp=n
sum_cube=0
while temp>0:
  digit= temp%10
  sum_cube+=digit**3
  temp=temp//10
if n== sum_cube:
    print(sum_cube)

153

###Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

In [ ]:
lst=[386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758,
     219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815,
     67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527]

for i in lst:
  if i==237:
    print(i)
    breaki
  elif i%2==0:
    print(i,end=" ")

386 462 418 344 236 566 978 328 162 758 918 237

###Write a Python program to count the number 4 in a given list.

In [ ]:
l = [1, 4, 6, 7, 4]
count = {}

for i in l:
    if i in count:
        count[i] += 1
    else:
        count[i] = 1

print(count)

{1: 1, 4: 2, 6: 1, 7: 1}

In [ ]:
l.count(4)

2

###Write a Python program to sum all the items in a list.

In [ ]:
l= [1,2,-8]

sum=0
for i in l:
  sum+=i
print(sum)

-5

###Write a Python program that checks whether every even index contains an even number and every odd index contains an odd number of a given list.

In [ ]:
arr=[2, 1, 4, 3, 6, 7, 6, 3]
flag=True
for i in range(len(arr)):
  if arr[i]%2!= i%2:
    flag=False

if flag:
  print(True)
else:
  print(False)

True

###Write a Python program to compute the cumulative sum of numbers in a given list. Note: Cumulative sum = sum of itself + all previous numbers in the said list.

In [ ]:
arr=[10, 20, 30, 40, 50, 60, 7]

cum_sum=0
for i in arr:
  cum_sum+=i
  print(cum_sum,end=" ")

10 30 60 100 150 210 217

###Write a Python program to calculate the difference between the two lists.

In [ ]:
arr1=[1, 3, 5, 7, 9]
arr2=[1, 2, 4, 6, 7, 8]

diff1=set(arr1)-(set(arr2))
diff2=set(arr2)-(set(arr1))

list(diif1)+ list(diff2)

[9, 3, 5, 8, 2, 4, 6]

###Given a list of numbers and a number k, write a Python program to check whether the sum of any two numbers from the list is equal to k or not. For example, given [1, 5, 11, 5] and k = 16, return true since 11 + 5 is 16.

In [ ]:
arr=[12, 5, 0, 5]
k=10
flag=False
for i in range(len(arr)):
  for j in range(i+1,len(arr)):
    if (arr[i]+arr[j])==k:
      print(i,j)
      flag=True
      break
if flag:
  print(True)
else:
  print(False)

1 3
True

###Write a Python program to compute the product of a list of integers (without using a for loop).

In [ ]:
from functools import reduce
nums = [10, 20, 30]
nums_product = reduce( (lambda x, y: x * y), nums)
print(nums_product)

6000

###Write a Python program to calculate the median from a list of numbers.

In [ ]:
arr=[1,2,3,4,5]

arr=sorted(arr)
m=len(arr)//2
if len(arr)%2==0:
  print((arr[m - 1] + arr[m]) / 2)
else:
  print(arr[m])

3

###Write a Python program to find the biggest even number between two numbers inclusive.

In [12]:
a=12
b=99
even=[]
for i in range(a,b+1):
  if i%2==0:
    even=i

    continue
    even=i
print(even)

98

###Write a Python program to check whether the given strings are palindromes or not. Return True otherwise False.

In [36]:
s="madamimadam"
s= "".join(filter(str.isalnum,s))
left=0
palindrom=True
for i in range(len(s)//2):
 if s[i]!=s[-i-1]:
  palindrom =False

if palindrom:
  print(True)
else:
  print(False)

True

###Write a Python program that accepts a string and calculates the number of digits and letters.

In [44]:
s="W3resource"
print(len("".join(filter(str.isdigit,s))))
print(len("".join(filter(str.isalpha,s))))

1
9

###Write a Python program to find numbers that are greater than 10 and have odd first and last digits.

In [60]:
lst=[1, 3, 79, 10, 4, 1, 39,49,48]

num=[]
for i in lst:
  if i>10:
    digit=i%10
    temp=i
    temp=temp//10
    if digit%2!=0 and temp%2!=0:
      num.append(i)
print(num)

[79, 39]

###Write a Python program to get the single digits in numbers sorted backwards and converted into English words.

In [74]:
arr = [1, 3, 4, 5, 11]
lst = []

# Map numbers to their corresponding words
num_to_word = {
    0: "zero", 1: "one", 2: "two", 3: "three", 4: "four",
    5: "five", 6: "six", 7: "seven", 8: "eight", 9: "nine"
}

for i in sorted(arr,reverse=True):
    if i in num_to_word:
        lst.append(num_to_word[i])
    else:
        pass  # Handle numbers not in the dictionary

print(lst)

['five', 'four', 'three', 'one']